@import "src/styling-constants/colors.scss";
@import "src/styling-constants/coolEffects.scss";

.ground {
  display: flex;
  // justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding: 20px;

  .myLinkDiv {
    opacity: initial;
  }
}
