@import "src/styling-constants/colors.scss";
@import "src/styling-constants/coolEffects.scss";

.ground {
  //

  &:hover {
    cursor: pointer;
  }
}


.download {
  font-size: 14px;
  padding: 3px 3px;
  border-radius: 6px;
  &:hover {
    cursor: pointer;
    // box-shadow: $coolBlueShadow0;
  }
}

