@import "src/styling-constants/colors.scss";
@import "src/styling-constants/coolEffects.scss";

.ground {
  //

  &:hover {
    // cursor: pointer;
  }
}


.download {
  font-size: 14px;
  padding: 3px 3px;
  border-radius: 6px;
  &:hover {
    cursor: pointer;
    box-shadow: $coolBlueShadow0;
  }
}

.addFoodButtonWrap {
  margin-bottom: 20px;

  button {
    outline: none;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 6px;
    padding: 3px 6px;

    &:hover {
      cursor: pointer;
      box-shadow: $coolBlueShadow0;
    }
  }
  
}