@import "src/styling-constants/colors.scss";
@import "src/styling-constants/coolEffects.scss";

.ground {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  margin: 10px;
  border-radius: 6px;

  &.ground.ground {
    background-color: transparent;

    &:hover {
      background-color: rgb(243, 243, 243);
    }

    &.ground.ground:active {
      svg * {
        stroke: rgb(116, 160, 211);
      };
    }

    svg * {
      stroke: $black17;
    }
  }

  // @media (min-width: 1005px) {
  //   display: none;
  // }

  .menuIcon,
  .closeIcon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.25s ease-in-out;
  }

  &.menuIsVisible.menuIsVisible.menuIsVisible {
    svg * {
      stroke: $blue500;
    }

    .menuIcon {
      // display: none;
      opacity: 0;
    }
  }

  &.menuIsHidden {
    .closeIcon {
      // display: none;
      opacity: 0;
    }
  }
}
