@import "src/styling-constants/colors.scss";
@import "src/styling-constants/coolEffects.scss";

.ground {
  // display: inline-block;
  font-size: 0.875rem;
  line-height: 1rem;
  // margin-top: 26px;
  // margin-bottom: 42px;
  color: $gray400;
  font-weight: 600;

  .login {
    color: $blue500;
    border-radius: 4px;
    text-decoration: none;
    &:hover {
      cursor: pointer;
      box-shadow: $coolBlueShadow;
    }
  }
}
