@import "src/styling-constants/colors.scss";
@import "src/styling-constants/coolEffects.scss";

.ground {
  padding: 20px;
  padding-top: 80px;
  background-color: rgba(228, 230, 233, 0.274);

  display: flex;
  justify-content: center;

  .mainBox {
    min-width: 32%;
  }

  tr {
    .label {
      font-weight: 600;
    }
  }
}

.editButton {
  border: 2px solid rgb(184, 223, 255);
  display: flex;
  // max-width: 78px;
  margin-bottom: 10px;
  background-color: aliceblue;

  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
    border: 2px solid rgb(149, 207, 255);
  }

  & > span {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
