@import "src/styling-constants/colors.scss";
@import "src/styling-constants/coolEffects.scss";

.ground {
  --dist-left-right: 10px;
  --column-gap: 24px;

  --color-of-try-rent: rgb(255, 198, 43);
  --color-of-try-unrent: rgb(255, 80, 49);
  --color-of-available: rgb(217, 229, 244);
  --color-of-rented: rgb(52, 190, 93);
  // --color-of-try-unrent: rgb(223, 99, 77);

  opacity: initial;
  max-width: 100%;

  // prevent selecting text
  user-select: none; /* standard syntax */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */

  .confirmAbso {
    display: none;

    font-size: 12px;

    position: absolute;
    border-radius: 100px;
    background-color: var(--color-of-try-rent);
    color: rgb(255, 255, 255);

    padding: 2px 4px;

    top: -12px;
    left: 35%;
    z-index: 40;

    &.atLeastOneSelected {
      display: flex;
    }

    // &.atLeastOneSelected {
    //   &:hover {
    //     display: flex;
    //   }
    // }

    overflow: hidden;

    &:hover {
      cursor: pointer;
      // background-color: var(--color-of-rented);
      outline: 1px solid rgb(82, 53, 0);
    }
  }

  .unrentConfirmAbso {
    display: none;

    font-size: 12px;

    position: absolute;
    border-radius: 100px;
    background-color: var(--color-of-try-unrent);
    color: rgb(77, 77, 77);

    padding: 2px 4px;

    top: -12px;
    left: 65%;
    z-index: 40;

    &.atLeastOneSelectedForUpdate {
      display: flex;
    }

    // &.atLeastOneSelected {
    //   &:hover {
    //     display: flex;
    //   }
    // }

    overflow: hidden;

    &:hover {
      cursor: pointer;
      outline: 1px solid rgb(131, 5, 5);
      // background-color: rgb(30, 163, 119);
    }
  }
}

.loader {
  display: none;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-45%, -45%);

  &.isLoading {
    display: flex;
  }
}

.superSlider.superSlider.superSlider.superSlider.superSlider {
  padding-left: calc(var(--dist-left-right) - (var(--column-gap) / 2));
  padding-right: calc(var(--dist-left-right) - (var(--column-gap) / 2));

  border: 1px solid rgba(223, 223, 223, 0.493);
  border-radius: 6px;

  background-color: #f3f3f352;

  // padding-left: 4px;
  // padding-right: 4px;

  // @media (max-width: 600px) {
  //   padding-left: 12px;
  // }

  &:hover {
    .goLeft,
    .goRight {
      opacity: 1;
    }
  }

  .superSlide {
    // border: 1px solid blue;
    // width: initial;
    width: auto;
    // width: 300px;
    // max-width: 100%;
    height: auto;
    min-width: 10px;
    min-height: 60px;
    padding-left: calc(var(--column-gap) / 2);
    padding-right: calc(var(--column-gap) / 2);

    padding-top: 11px;
    padding-bottom: 11px;

    // &:last-child {
    // padding-right: calc(var(--column-gap) / 2);
    // }

    // @media (max-width: 1000px) {
    //   width: 246px;
    //   height: 336px;
    // }
  }

  .goLeft {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    left: var(--dist-left-right);
  }

  .goRight {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    right: var(--dist-left-right);
  }

  .goLeft,
  .goRight {
    display: none;
  }
}

.slideEl {
  min-width: 15px;
  height: 100%;

  // padding-left: 16px;
  // padding-right: 16px;

  font-size: 16px;
  line-height: 16px;

  color: #626262;

  display: flex;
  align-items: stretch;
  justify-content: center;

  .inner {
    background: #f3f3f3;
    border-radius: 8px;
    // padding: 3px 6px;

    &:hover {
      cursor: pointer;
    }
  }
}

.vvvWeek {
  .vvvDay {
    // border: 1px solid gray;

    // display: flex;
    // align-items: center;
    // justify-content: center;

    padding-left: 2px;
    padding-right: 2px;

    &:hover {
      .onHover {
        display: flex;
      }
    }

    .onHover {
      position: absolute;
      top: -10px;
      left: 50%;
      transform: translateX(-50%);
      padding: 2px 4px;
      background-color: #fff4c3;
      color: rgb(75, 75, 75);
      font-size: 12px;
      z-index: 8;
      border: 1px solid rgb(121, 121, 121);
      border-radius: 6px;
      white-space: nowrap;
      display: none;
      opacity: 0;
      transition: opacity 0.6s;

      &:hover {
        border: 1px solid rgb(80, 80, 80);
        cursor: pointer;
        opacity: 1;
      }
    }

    .monthName {
      font-size: 11px;
    }

    .mainSquare {
      font-size: 14px;
      width: 30px;
      height: 30px;
      // background-color: #7cb0eb3f;
      border-radius: 8px;

      color: rgb(61, 61, 61);

      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        cursor: pointer;
        outline: 1px solid #0967d2c5;
      }

      &::before {
        z-index: -5;
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;

        left: 0px;
        top: 0px;

        background-color: var(--color-of-available);
        border-radius: 8px;
      }

      &.selected.selected.selected.selected {
        &::after {
          z-index: -3;
          content: "";
          width: 20px;
          height: 20px;
          position: absolute;
          border-radius: 4px;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          background-color: var(--color-of-try-rent);
        }
      }

      &.isHighlighted.isHighlighted.isHighlighted {
        outline: 3px solid rgb(255, 196, 0);
        outline-offset: -2px;
      }

      &.selectedForUpdate.selectedForUpdate.selectedForUpdate.selectedForUpdate {
        background-color: transparent;
        &::after {
          z-index: -3;
          content: "";
          width: 20px;
          height: 20px;
          position: absolute;
          border-radius: 4px;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          background-color: var(--color-of-try-unrent);
        }
      }

      &.rented {
        background-color: #949494;
      }

      &.rentedByMe {
        background-color: transparent;
        &::before {
          z-index: -5;
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;

          left: 0px;
          top: 0px;

          background-color: var(--color-of-rented);
          border-radius: 8px;
        }
      }
    }

    .dateNum {
      font-size: 11px;
    }
  }
}

.wrapOfSlide {
  &.bikeNotAvailable {
    opacity: 0.5;
  }
}

.popInfo {
  background-color: white;
  white-space: nowrap;
  padding: 4px 8px;
  outline: 1px solid rgba(128, 128, 128, 0.342);
  border-radius: 6px;
}
