.ground {
  //   min-width: 292px;
  //   max-width: 292px;
  background-color: white;
  padding: 4px;
  opacity: initial;

  //   border: 1px solid red;
  outline: 2px solid rgb(95, 180, 255);

  display: flex;
  flex-wrap: nowrap;
  column-gap: 4px;
  justify-content: space-between;

  .now {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 2px;

    &:hover {
      cursor: pointer;
    }
  }
}

.myDateTimePicker {
  min-width: 260px;

  :global {
    .react-datetime-picker__wrapper {
        border: none;
    }
  }
}
.datePickFrame {
  // box-sizing: border-box;
  // border: 5px solid red !important;
  // border: 6px solid red !important;
  // outline: 1px solid rgb(202, 202, 202);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -65%);
  max-width: calc(100% - 12px) !important;
  border-radius: 4px;
}
