.ground {
  opacity: initial;

  // outline: 1px solid red;
  max-width: 100%;
  display: flex;
  // flex-direction: column;
  align-items: center;

  .inputWrap {
    display: flex;
    flex-direction: column;
    column-gap: 4px;
    row-gap: 4px;
    align-items: center;

    input {
      max-width: 80px;
      outline: 2px solid rgb(200, 229, 255);
    }
  }
}

label {
  font-weight: 600;
}